<section>
  <div class="section-title">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="law-section {% if section.settings.check_page == 'custom' %}custom-section{% endif %}">
    {% for block in section.blocks %}
      <div class="law-row {% if section.settings.blue_link %} blue-link{% endif %}" {{ block.shopify_attributes }}>
        <div class="left-content">
          <span>{{ block.settings.left_text | replace: '</p><span>', '<br>' | remove: '<p>' | remove: '</p>'}}</span>
        </div>
        <div class="right-content">
          {% if block.settings.right_image != blank %}
            {{
              block.settings.right_image
              | image_url: width: 300
              | image_tag: loading: 'lazy', alt: block.settings.left_text
            }}
          {% endif %}
          <span class="{% if block.settings.red_link %} red-link{% endif %} {% if block.settings.no_underline %}no-underline{% endif %}">{{ block.settings.right_text | replace: '</p><span>', '<br>' | remove: '<p>' | remove: '</p>'}}</span>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<style>
  .section-title {
    padding: 10px 16px 48px;
  }
  .section-title h1 {
    margin-top: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 8px;
    font-size: 32px;
    font-weight: bold;
  }
  .law-section {
    /* max-width: 908px; */
    width: 83.3333%;
    margin: 0 auto;
    border-top: 1px dotted #ccc;
  }
  .law-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px dotted #ccc;
    padding: 15px 0 4px;
  }
  .law-row a {
    color: #333333;
  }
  .law-row.blue-link a {
    color: #0000FF;
  }
  .law-row .red-link a {
    color: #FF0000;
  }
  .law-row .no-underline a {
    text-decoration: none;
    font-weight: bold;
  }
  .left-content {
    display: block;
    font-weight: bold;
    width: 30%;
    padding-top: 14px;
  }
  .right-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
  }
  .right-content span {
    line-height: 41.4px;
  }
  .right-content img {
    max-width: 100%;
    height: auto;
  }
  /* For page Inquiry Information */
  .custom-section .left-content {
    padding-top: 0;
  }
  .left-content span {
    line-height: 1.4;
  }

  .right-content span {
    line-height: 2;
  }
  .custom-section .left-content span,
  .custom-section span.right-content {
    line-height: 22px;
  }
  .custom-section .right-content {
    justify-content: center;
  }
  .custom-section .law-row {
    padding-top: 9px;
  }
  @media only screen and (max-width: 767px) {
    .section-title {
      padding: 0;
    }

    .section-title h1 {
      font-size: 16px;
      text-align: left;
    }
    .left-content,
    .right-content {
      width: 100%;
    }
    .law-section {
      width: 100%;
    }
    .left-content {
      padding-top: 0;
    }
    .law-row {
      padding-top: 10px;
    }
  }
  @media only screen and (max-width: 640px) {
  }
</style>

{% schema %}
{
  "name": "Trade Law",
  "settings": [
    {
      "type": "select",
      "id": "check_page",
      "label": "Current page",
      "options": [
        {
          "value": "default",
          "label": "Page default"
        },
        {
          "value": "custom",
          "label": "Page inquiry information"
        }
      ],
      "default": "default"
    },
    {
      "type": "checkbox",
      "id": "blue_link",
      "label": "Blue link",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "row",
      "name": "Row",
      "settings": [
        {
          "type": "text",
          "id": "left_text",
          "label": "Left Content (Text)",
          "default": "Left text..."
        },
        {
          "type": "richtext",
          "id": "right_text",
          "label": "Right Text",
          "default": "<p>Right text...</p>"
        },
        {
          "type": "image_picker",
          "id": "right_image",
          "label": "Right Image",
        },
        {
          "type": "checkbox",
          "label": "Red link",
          "id": "red_link",
          "default": false
        },
        {
          "type": "checkbox",
          "label": "No underline",
          "id": "no_underline",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Trade Law",
      "category": "t:categories.layout"
    }
  ]
}
{% endschema %}
